*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: Montserrat, sans-serif;
}
body {
  color: #263138;
}
header {
  background-color: #ff9a6c;
  padding: 24px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  color: #fff;
  font-weight:600;
  padding: 32px;
  text-decoration: none;
}

h1,
h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}
#inicio {
    display: flex;
    align-items: center;
    padding: 24px 80px 128px 80px;
    gap: 32px;
    position: relative;
}
.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
}
